@use "../../styles.scss";

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 35px;
	border-bottom: 1px solid styles.$grayishBlue;

	h1 {
		margin: 0;
	}
}

#mobile-menu-overlay {
	visibility: hidden;
	position: fixed;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 20;
	opacity: 0;
	transition-duration: .5s;
	transition-property: opacity;

}

#logo-nav-container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

nav {
	display: flex;
	margin-left: 4rem;
	a {
		display: block;
		padding-bottom: 40px;
		margin-right: 2rem;
		text-decoration: none;
		color: styles.$darkGrayishBlue;
		border-bottom: 4px solid transparent;
		transition-duration: .5s;
		transition-property: border-color;

	}

	a:hover {
		color: black;
		border-bottom: 4px solid styles.$orange;
	}

	a:active {
		color: black;
		border-bottom: 4px solid styles.$orange;
	}

	button {
		display: none;
		background-color: transparent;
		border: none;
	}
}

#menu-btn-sm {
	background-color: transparent;
	border: none;
	display: none;
	cursor: pointer;
}

#cart-profile-container {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
}

#cart-btn-container {
	position: relative;
	margin-right: 2rem;
	span {
		font-size: 10px;
		font-weight: bold;
		color: white;
		position: absolute;
		top: -5px;
		right: 0;
		padding: 1px 7px;
		background-color: styles.$orange;
		border-radius: 7px;
	}
}

#cart-btn {
	height: fit-content;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

#cart {
	position: absolute;
	right: -25px;
	top: 50px;
	width: 22rem;
	box-shadow: 0 10px 25px styles.$shadowColor;
	border-radius: 10px;
	background-color: white;
	display: none;
	z-index: 20;

	h1 {
		border-bottom: 1px solid styles.$grayishBlue;
		font-weight: 600;
		padding: 15px 20px 20px;
		margin: 0;
	}

	ul {
		list-style: none;
		padding: 0;
	}
}

.cart-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	padding: 0 20px;

	p {
		color: styles.$darkGrayishBlue;
		margin: 0;
	}

	strong {
		font-weight: bold;
	}
}

.cart-item-img {
	width: 15%;
	min-width: 45px;
	border-radius: 5px;
}

.del-cart-item-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

#checkout-btn-container {
	padding: 0 20px 25px;
}

#checkout-btn {
	width: 100%;
	padding: 15px 10px;
	background-color: hsl(26, 100%, 55%);
	border-radius: 10px;
	border-width: 0;
	font-weight: 600;
	cursor: pointer;
}

#cart.shown {
	display: block;
}

#empty-cart-text {
	text-align: center;
	margin: 80px 0;
	padding: 0 20px;
}

#avatar-img {
	width: 3rem;
	height: 3rem;
	background-image: url("/assets/image-avatar.png");
	background-position: center;
	background-size: cover;
	border-radius: 100%;
	cursor: pointer;
}

#avatar-img:hover {
	border: 2px solid styles.$orange;
}

#avatar-img:active {
	border: 2px solid styles.$orange;
}

@media (max-width: 1000px) {
	nav {
		margin-left: 2rem;

		a {
			margin-right: 1rem;
		}
	}
}

@media (max-width: 850px) {
	header {
		display: flex;
		padding: 10px 20px;
		border: none;
	}

	#menu-btn-sm {
		display: block;
		margin-right: 2rem;
	}

	nav {
		display: block;
		position: fixed;
		background-color: white;
		margin-left: 0;
		top: 0;
		left: -100%;
		height: 100vh;
		width: 80vw;
		padding: 30px;
		z-index: 20;
		transition-duration: .3s;
		transition-property: left;
		transition-timing-function: ease-in-out;

		a {
			display: block;
			margin-right: 0;
			margin-top: 2rem;
			font-weight: bold;
			padding-bottom: 0;
			font-size: 1.2rem;
			color: black;
		}

		button {
			display: block;
			margin-bottom: 50px;
		}
	}

	#cart {
		right: 0;
		top: 60px;
		width: 80vw;
	}

	header.menuVisible {
		nav {
			left: 0;
		}

		#mobile-menu-overlay {
			visibility: visible;
			opacity: 100;
		}
	}
}

@media (max-width: 500px) {
	header {
		padding: 20px;
	}
	#cart-btn-container {
		margin-right: 10px;
	}
	#menu-btn-sm {
		margin-right: 10px;
	}
	#avatar-img {
		width: 2rem;
		height: 2rem;
	}
}