<header [class.menuVisible]="menuIsVisible">
	<div id="mobile-menu-overlay"></div>
	<div id="logo-nav-container">
		<button id="menu-btn-sm" (click)="showMenu()">
			<img src="/assets/icon-menu.svg"/>
		</button>
    	<h1 id="site-logo"><img src="/assets/logo.svg" alt="Sneakers logo"></h1>
    	<nav>
    		<button><img src="/assets/icon-close.svg" alt="menu close icon" (click)="hideMenu()"></button>
	      <a href="">Collections</a>
	      <a href="">Men</a>
	      <a href="">Women</a>
	      <a href="">About</a>
	      <a href="">Contact</a>
	    </nav>
    </div>
    <div id="cart-profile-container">
    	<div id="cart-btn-container" (click)="toggleCartVisibility()">
      	<button id="cart-btn"><img src="/assets/icon-cart.svg"></button>
      	@if (cartContent.length > 0) {
      		<span id="cart-quantity">{{ cartContent.length }}</span>
      	}
      </div>
      <section id="cart" [class.shown]="cartIsVisible">
      	<h1>Cart</h1>
      	@if (cartContent.length > 0) {
      		<ul>
		      	@for (content of cartContent; track content.id) {
		      		<li class="cart-item">
		      			<img src="/assets/image-product-1-thumbnail.jpg" class="cart-item-img"/>
		      			<div>
		      				<p>Fall Limited Edition Sneakers</p>
		      				<span>$125.00 x {{ content.quantity }}</span>&nbsp;<strong>${{ 125.00 * content.quantity }}</strong>
		      			</div>
		      			<button class="del-cart-item-btn" (click)="removeContent($event)" attr.data-batchid="{{ content.id }}">
		      				<img src="/assets/icon-delete.svg"/>
		      			</button>
		      		</li>
		      	}
		      </ul>
	      	<div id="checkout-btn-container"><button id="checkout-btn">Checkout</button></div>
      	}@else {
	      	<p id="empty-cart-text">Your cart is empty.</p>
      	}
      </section>
      <div id="avatar-img"></div>
	</div>
</header>
