#product-images {
	width: 70%;
	margin: auto;
	div {
		width: 100%;
		height: fit-content;
		img {
			width: 100%;
			height: auto;
			border-radius: 10px;
		}
	}

	ul {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		list-style: none;
		padding: 0;

		li {
			width: 20%;
		}

		img {
			width: 100%;
			border-radius: 10px;
		}

		img:active {
			opacity: 50%;
		}
	}
}

#displayed-img-thumbnail {
	border: 2px solid hsl(26, 100%, 55%);
	opacity: 40%;
}

@media (max-width: 850px) {
	#product-images {
		width: 100%;
		div {
			img {
				border-radius: 0;
			}
		}
	}
}