#product-details {
	small {
		font-size: 0.8rem;
		font-weight: 600
	}

	h2 {
		font-size: 2.5rem;
		font-weight: bold;
	}
}

#price {
	display: inline-block;
	margin-right: 2rem;
	font-size: 2rem;
	font-weight: bold;
}

#discount {
	display: inline-block;
	color: white;
	padding: 5px 7px;
	font-weight: bold;
	background-color: black;
	border-radius: 5px;
}

#slashed-price {
	text-decoration: line-through;
}

#cart-interaction {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#quantity-mod-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: hsl(220, 14%, 75%);
	padding: 15px 10px;
	width: 38%;
	border-radius: 10px;

	button {
		background-color: transparent;
		border: none;
	}
}

#cart-add-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	padding: 15px 10px;
	background-color: hsl(26, 100%, 55%);
	border-width: 0;
	border-radius: 10px;
}

#cart-add-btn:active {
	background-color: hsl(25, 100%, 94%)
}

@media (max-width: 850px) {
	#product-details {
		padding: 20px;
	}

	#cart-interaction {
		display: block;
	}

	#quantity-mod-container {
		width: 100%;
		margin-bottom: 20px;
	}

	#cart-add-btn {
		width: 100%;
		margin-bottom: 20px;
	}

}