<section id="product-details">
	<small>SNEAKER COMPANY</small>
	<h2>Fall Limited Edition Sneakers</h2>
	<p id="description">
		These low-profile sneakers are your perfect casual wear companion. Featuring a 
	  	durable rubber outer sole, they’ll withstand everything the weather can offer.
	</p>
  	<p><span id="price">$125.00</span> <span id="discount">50%</span></p>
  	<p id="slashed-price">$250.00</p>
	<div id="cart-interaction">
		<div id="quantity-mod-container">
			<button (click)="removeItem()"><img src="/assets/icon-minus.svg"/></button>
			<span>{{ quantity }}</span>
			<button (click)="addItem()"><img src="/assets/icon-plus.svg"/></button>
		</div>
		<button id="cart-add-btn" (click)="addToCart()">
			<img src="/assets/icon-cart.svg"/>
			<span>Add to cart</span>
		</button>
	</div>
</section>