$veryDarkBlue: hsl(220, 13%, 13%);
$darkGrayishBlue: hsl(219, 9%, 45%);
$grayishBlue: hsl(220, 14%, 75%);
$lightGrayishBlue: hsl(223, 64%, 98%);
$shadowColor: rgba(0, 0, 0, 0.3);
$orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 80%);

* {
	font-family: "Kumbh Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	font-variation-settings: "YOPQ" 300;
	font-size: 16px;
	box-sizing: border-box;
}

body {
	width: 75%;
	margin: auto;
}

@media (max-width: 1000px) {
	body {
		width: 85%;
	}
}

@media (max-width: 850px) {
	body {
		width: 100%;
	}
}
